@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/

.box-area {
    width: 930px;
}

/*------------ Right box ------------*/

.right-box {
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder {
    font-size: 16px;
}

.rounded-4 {
    border-radius: 20px;
}
.rounded-5 {
    border-radius: 30px;
}

/*------------ For small screens------------*/

@media only screen and (max-width: 768px) {
    .box-area {
        margin: 0 10px;
    }
    .avatar {
        margin-top: 40px;
    }
    .left-box {
        margin-top: 70px;
        height: 190px;
        /* overflow: hidden; */
    }
    .right-box {
        padding: 20px;
    }
}

/* Animation */
@-webkit-keyframes float {
    0% {
        transform: translateY(0px);
        filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.7));
    }
    50% {
        transform: translateY(-20px);
        filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.2));
    }
    100% {
        transform: translateY(0px);
        filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.7));
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
        filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.7));
    }
    50% {
        transform: translateY(-20px);
        filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.2));
    }
    100% {
        transform: translateY(0px);
        filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.7));
    }
}

.avatar {
    transform: translateY(0px);
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
    width: 250px;
}
